:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-title-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  display: block;
  text-decoration: none;
  position: relative;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page {
  color: var(--main-text-color);
  background-color: #ffffff;
  font-family: roboto, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close {
  display: flex;
  position: fixed;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus {
  color: #2196f3;
}

.icon-close {
  fill: currentColor;
}

.modal-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field-comments {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-wrapper {
  position: relative;
  margin-top: 4px;
  display: block;
}

.policy {
  margin-left: 5px;
  color: var(--accent-color);
}

.form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-comments {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comments:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-comments::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
}

.form-checkbox-label {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  display: flex;
  align-self: center;
  justify-content: center;
}

.form-checkbox-label::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
  align-self: center;
}

.form-checkbox:focus + .form-checkbox-label::before {
  outline: 1px solid #000;
}

.form-checkbox:checked + .form-checkbox-label::before {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-position: center;
  border-color: var(--accent-color);
  outline: none;
}

.form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link {
  display: flex;
  padding: 0;
  margin: 0;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover, .icon-link:focus {
  background-color: #2196f3;
  fill: #fff;
}

.icon-network {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover .icon-network,
.icon-link:focus .icon-network {
  fill: #fff;
}

.human-icon {
  display: flex;
  justify-content: center;
}

.human-icon .icon + .icon {
  margin-left: 10px;
}

.link-icon-list {
  display: block;
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.socials .link-icon-list + .link-icon-list {
  margin-left: 10px;
}

.human-icon .link-icon-list + .link-icon-list {
  margin-left: 10px;
}

.link-icon {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon:hover, .link-icon:focus {
  background-color: #2196f3;
}

.icon-social {
  fill: #fff;
}

.description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.descr-flex-element {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.primary-title {
  margin-bottom: 30px;
  color: var(--primary-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.secondary-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-human {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}

.card:nth-child(4n) {
  margin-right: 0;
}

.icon {
  display: block;
  fill: #fff;
}

.client {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client:hover, .client:focus {
  border-color: #2196f3;
}

.client:hover .symbol, .client:focus .symbol {
  fill: #2196f3;
}

.client-logo {
  display: block;
  margin: 0;
  padding: 0;
  width: 170px;
  height: 92px;
}

.list .client-logo + .client-logo {
  margin-left: 30px;
}

.symbol {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: auto;
}

.button-primary {
  display: inline-block;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0px;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary:hover, .button-primary:focus {
  background-color: #188ce8;
}

.project-filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-filter {
  display: inline-block;
  color: var(--main-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover, .button-filter:focus {
  color: #fff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-primary.button-subscribe {
  display: flex;
  margin-left: 12px;
}

.button-form {
  align-self: center;
  width: 200px;
  height: 50px;
}

.filter .main-btn {
  background-color: var(--accent-color);
  color: #ffffff;
}

.btn-filter {
  margin-right: 8px;
}

.btn-filter:nth-child(5n) {
  margin-right: 0;
}

.flex-element {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-element:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.flex-list {
  position: relative;
  overflow: hidden;
}

.section-title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.section-filter {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.main-nav {
  display: flex;
}

.main-nav-portfolio {
  display: flex;
}

.site-nav .site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav {
  margin-left: 93px;
}

.site-nav__link {
  display: block;
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav .current {
  color: var(--accent-color);
}

.auth-nav {
  margin-left: auto;
}

.auth-nav .auth-nav__item + .auth-nav__item {
  margin-left: 50px;
}

.auth-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
}

.auth-nav__link,
.section-text {
  color: var(--secondary-text-color);
}

.site-nav,
.auth-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link.mail,
.link.tel {
  align-items: center;
  display: flex;
}

.icon-mail,
.icon-tel {
  margin-right: 10px;
  fill: currentColor;
}

.logo-link {
  color: #000;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
}

.web {
  color: var(--accent-color);
}

.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  display: flex;
  bottom: 0;
}

.border {
  border-bottom: 1px solid #ececec;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-image.jpg), url(../images/alt-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-qualities {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.section-text {
  margin-top: 0;
}

.section-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.antenna::before {
  background-image: url(../images/icon-antenna.svg);
}

.clock::before {
  background-image: url(../images/icon-clock.svg);
}

.diagram::before {
  background-image: url(../images/icon-diagram.svg);
}

.astronaut::before {
  background-image: url(../images/icon-astronaut.svg);
}

.list-item {
  width: 270px;
  margin-right: 30px;
  align-items: center;
}

.list-item::before {
  display: block;
  content: '';
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.list-item:nth-child(4n) {
  margin-right: 0;
}

.work {
  padding-bottom: 94px;
}

.working-list {
  margin-right: 30px;
  position: relative;
  display: flex;
}

.working-list:nth-child(3n) {
  margin-right: 0;
}

.product-action {
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.product-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.product-flex {
  position: absolute;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover .product-flex {
  transform: translateY(0);
}

.backround-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-contacts {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address,
.footer-logo {
  color: #ffffff;
}

.web,
.footer-logo {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
}

.contact-mail {
  margin-bottom: 9px;
}

.logo {
  display: block;
  margin-bottom: 20px;
}

.contacts {
  list-style: none;
}

.menu-social {
  margin-left: 70px;
}

.menu-socials-head {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer {
  display: flex;
  align-items: baseline;
}

.socials {
  display: flex;
}

.contacts-social {
  display: flex;
  align-items: baseline;
}

.subscribe {
  margin-left: auto;
}

.mail-subscribe {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}

.e-mail {
  width: 358px;
  height: 50px;
}

.icon-send {
  fill: #fff;
  margin-left: 10px;
}

.form {
  display: flex;
}

.clients {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
/*# sourceMappingURL=main.css.map */