//UTILS
@import './utils/variables';
@import './utils/visually-hidden';

//BASE
@import './base/common';

//COMPONENTS
@import './components/container';
@import './components/section';
@import './components/modal';
@import './components/social-links';
@import './components/description';
@import './components/title';
@import './components/team';
@import './components/client';
@import './components/backdrop';
@import './components/button';
@import './components/flex-element';
@import './components/projects';

//LAYOUT
@import './layout/header';
@import './layout/hero';
@import './layout/qualities';
@import './layout/work';
@import './layout/footer';
@import './layout/clients';
