.backround-footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-contacts {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts-footer {
  @media screen and(max-width: 767px) {
    margin-bottom: 60px;
  }
}

.address,
.footer-logo {
  color: rgb(255, 255, 255);
}

.web,
.footer-logo {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-bottom: 9px;

  @media screen and(max-width: 767px) {
    margin-bottom: 8px;
  }
}

.contact-mail {
  margin-bottom: 9px;

  @media screen and(max-width: 767px) {
    margin-bottom: 8px;
  }
}

.logo {
  display: block;
  margin-bottom: 20px;
}

.contacts {
  list-style: none;
}

.menu-social {
  margin-left: 70px;

  @media screen and(max-width: 1199px) {
    margin-left: 0;
    margin-bottom: 60px;
  }

  @media screen and(min-width: 768px) {
    margin-bottom: 0;
  }
}

.menu-socials-head {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer {
  display: flex;
  align-items: baseline;

  @media screen and(max-width: 1199px) {
    display: inline-block;
    text-align: center;
  }

  @media screen and(min-width: 768px) {
  }
}

.socials {
  display: flex;
}

.contacts-social {
  display: flex;
  align-items: baseline;

  @media screen and(max-width: 767px) {
    display: inline-block;
    text-align: center;
  }

  @media screen and(min-width: 768px) {
    justify-content: space-around;
    margin-bottom: 60px;
  }

  @media screen and(min-width: 1200px) {
    margin-bottom: 0;
  }
}

.subscribe {
  margin-left: auto;

  @media screen and(max-width: 1199px) {
    max-width: 450px;
    margin-right: auto;
  }
}

.mail-subscribe {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: rgb(255, 255, 255);

  @media screen and(max-width: 1199px) {
    margin-bottom: 20px;
  }
}

.e-mail {
  width: 358px;
  height: 50px;
}

.icon-send {
  fill: rgb(255, 255, 255);
  margin-left: 10px;
}

.form {
  display: flex;

  @media screen and(max-width: 1199px) {
    display: block;
    text-align: center;
  }
}
