.menu-open,
.menu-close {
  display: flex;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-color: transparent;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    pointer-events: none;
    opacity: 0;
    visibility: auto;
  }
  .container {
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.menu-close {
  position: absolute;
  right: 15px;
  top: -36px;
}

.mob-menu-item {
  .mob-menu-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-text-color);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-contacts-list {
  margin-bottom: 64px;
}

.mob-contacts-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  .mob-contacts-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    text-decoration: none;
  }
  .mob-contacts-link-big {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

.mob-social-list {
  display: flex;

  .mob-social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
  }
}

.mob-social-item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    margin-right: 10px;
  }
}
