.section-qualities {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  margin-top: 0;
  margin-bottom: 10px;

  @media screen and(min-width: 768px) {
    text-align: left;
  }
}

.section-text {
  margin-top: 0;
}

.section-text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.antenna::before {
  background-image: url(../images/icon-antenna.svg);
}

.clock::before {
  background-image: url(../images/icon-clock.svg);
}

.diagram::before {
  background-image: url(../images/icon-diagram.svg);
}

.astronaut::before {
  background-image: url(../images/icon-astronaut.svg);
}

.list-item {
  width: 100%;
  align-items: center;
  margin-bottom: 30px;

  @media screen and(min-width: 480px) {
  }

  @media screen and(min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  @media screen and(min-width: 1200px) {
    margin-bottom: 0;
  }

  &::before {
    display: block;
    content: "";
    width: 100%;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.list-item.diagram {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}
