.work {
  display: none;

  @media screen and(min-width: 1200px) {
    display: block;
    padding-bottom: 94px;
  }
}

.working-list {
  margin-right: 30px;
  position: relative;

  width: 100%;
  align-items: center;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.product-action {
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.product-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.product-flex {
  position: absolute;
  display: flex;
  top: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .link:hover & {
    transform: translateY(0);
  }
}
