.button-primary {
  display: inline-block;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0px;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.project-filter {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #ececec;

  @media screen and(min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.button-filter {
  display: inline-block;
  color: var(--main-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #fff;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.button-primary.button-subscribe {
  display: flex;
  margin-left: 12px;
}

.button-form {
  align-self: center;
  width: 200px;
  height: 50px;
}

.filter .main-btn {
  background-color: var(--accent-color);
  color: #ffffff;
}

.btn-filter {
  margin-right: 8px;
  margin-bottom: 15px;
  &:nth-child(5n) {
    margin-right: 0;
  }
}

.mob-btn-filter {
  margin-bottom: -15px;
}
