.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  @media screen and(max-width: 1199px) {
    max-width: 450px;
    height: 609px;
  }
}

.modal-close {
  display: flex;
  position: fixed;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.icon-close {
  fill: currentColor;
}

.modal-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field-comments {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-wrapper {
  position: relative;
  margin-top: 4px;
  display: block;
}

.policy {
  margin-left: 5px;
  color: var(--accent-color);
}

.form-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-comments {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.01em;
  }
}

.form-checkbox-label {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  display: flex;
  align-self: center;
  justify-content: center;

  @media screen and(max-width: 1199px) {
    font-size: 12px;
  }

  &::before {
    display: block;
    content: "";
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 7px;
    align-self: center;
  }

  .form-checkbox:focus + &::before {
    outline: 1px solid #000;
  }

  .form-checkbox:checked + &::before {
    background-color: var(--accent-color);
    background-image: url(../images/icon-check.svg);
    background-position: center;
    border-color: var(--accent-color);
    outline: none;
  }
}

.form-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
