.icon-link {
  display: flex;
  padding: 0;
  margin: 0;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: rgb(255, 255, 255);
  }
}

.icon-network {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .icon-link:hover &,
  .icon-link:focus & {
    fill: rgb(255, 255, 255);
  }
}

.human-icon {
  display: flex;
  justify-content: center;
}

.human-icon .icon + .icon {
  margin-left: 10px;
}

.link-icon-list {
  display: block;
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.socials .link-icon-list + .link-icon-list {
  margin-left: 10px;
}

.human-icon .link-icon-list + .link-icon-list {
  margin-left: 10px;
}

.link-icon {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.icon-social {
  fill: rgb(255, 255, 255);
}
