.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and(min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-human {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.team-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  // &:last-child {
  //   margin-bottom: 0;
  // }

  @media screen and(min-width: 480px) {
  }

  @media screen and(min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  @media screen and(min-width: 1200px) {
  }
}

.icon {
  display: block;
  fill: #fff;
}

.human-photo {
  width: 100%;
  height: auto;

  @media screen and(min-width: 480px) {
  }

  @media screen and(min-width: 768px) {
  }

  @media screen and(min-width: 1200px) {
  }
}
